@media screen and (max-width: 920px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    .head-div {
        margin-top: 1rem;
    }
    .head-div a {
        font-size: large;
    }
    .logo img {
        margin-top: 3rem;
        width: 50vw;
        height: auto;
    }
    .tagline {
        font-size: 14px;
    }
    .greetings {
        margin-top: 18rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* background-color: red; */
    }
    .image img {
        width: 30vw;
        height: auto;
    }
    .text-greetings {
        margin-left: 0;
        /* background-color: black; */
        width: 80%;
        font-size: smaller;
    }
    .about-us span {
        font-size: 16px;
        width: 90vw;
        margin-top: 3rem;
    }
    /* .products-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 3rem;
    } */
    .products-items-main-div {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    .products-items img {
        width: 30vw;
        height: 18vh;
        margin: 7px;
    }
    .items-sold-and-baked-img-div {
        margin-top: 1rem;
    }
    .items-sold-and-baked-img-div img {
        width: 35vw;
        height: auto;
    }
    .tag-img {
        margin-top: 2rem;
    }
    .why-us-tags-div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 2rem;
    }
    .why-us-tags-div h1 {
        font-size: 18px;
    }
    .second-tag-div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .second-tag-div h1 {
        font-size: 18px;
        text-align: center;
    }
    .location-main-div {
        height: 50vh;
    }
    .contact-text {
        font-size: 16px;
        margin-top: 3rem;
    }
    .contact-text span {
        width: 90vw;
    }
    .footer-images-div {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
    }
    .footer-images-div img {
        width: 25vw;
    }
    .footer h1 {
        margin-top: 3rem;
        font-size: large;
        text-align: center;
    }
    .footer span {
        font-size: 10px;
    }
}
